<h1>Listing songs</h1>

<%= form_tag songs_path, :method => :get do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
<% end %>
<nav class="round">
  <ul>
    <% @letters.each do |letter| %>
        <%= content_tag :li, link_to(letter, songs_pagination_url(letter), :title => "Pagination by letter: #{letter}") %>
    <% end %>
  </ul>
</nav>

<table>
  <tr>
    <th>Name</th>
    <th>Artist</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= song.artist %></td>
        <td>

          <%= link_to('Add to shortlist', user_song_selections_path(current_user, song), :method => :post) %>
        </td>

      </tr>
  <% end %>
  <tr>

    <!---->
  </tr>
</table>

Selections
<% @user.selections.each do |selection| %>
    <tr>
      <td><%= selection.song_id %></td>
      </td>

    </tr>
<% end %>
<br/>

