<h1>Listing songs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Artist</th>
    <th>Place</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.name %></td>
    <td><%= song.artist %></td>
    <td><%= song.place %></td>
    <%= link_to 'Add to shortlist', user_song_selections_path %></td>
  </tr>
<% end %>
  <tr>

    <nav class="round">
      Selections <br>
      <% @user.selections.each do |selection| %>
          <%= selection.song.name %><br>
      <% end %>
    </nav>
  </tr>
</table>

<br />

