<h1>Listing selections</h1>

<table class align="Listing">
  <tr>
    <th>Song</th>
    <th>Artist</th>
    <th>#1</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  #TODO - get selection.song.name working in the loop below


  <% @selections.each do |selection| %>
  <tr>
    <td><%= selection.song.name %></td>
    <td><%= selection.song.artist %></td>
    <% if !@user.submitted?  %>
        <td><%= link_to '#1 pick', number1_pick_selections_path %></td>
    <% end %>
    <% if !@user.submitted?  %>
        <td><%= link_to 'Remove from Shortlist', selection, method: :delete %></td>
    <% end %>

  </tr>
<% end %>

</table>
<%= @user.submitted %>
<% if !@user.submitted?  %>
    <%= link_to 'Submit songs', submit_picks_selections_path %>
<% end %>
<br />
