<!DOCTYPE html>
<html>
<head>
  <title>Triple J Hottest 100</title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
<div class="container">
  <%= render 'layouts/header' %>
  <table  summary="Profile information">
    <section class="round">

    <%= yield %>
    </section>

  </table>
  <%= render 'layouts/footer' %>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</body>
</html>
